@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/roboto-v30-latin_cyrillic-300.woff2') format('woff2'),
         url('./fonts/roboto-v30-latin_cyrillic-300.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
         url('./fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 500;
    src: url('./fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
         url('./fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
}
:root {
    --white: #FFF;
    --light-grey: #FAFAFA; 
    --grey: #1f1f1f;
    --grey-1: #cccccc;
    --grey-2: #ebebeb;
    --grey-3: #5c5c5c;
    --blue: #0066CC;
    --blue-1: #006BE8;         
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    width: 1280px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 1136px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1 -1;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    display: flex;
    padding: 8px 0;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    align-self: flex-end;    
    list-style: none;
}
.header__menu a {
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding: 16px 8px 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--grey);
    margin: 0 12px;
    position: relative;
}
.header__menu li a:hover,
.header__menu li a.header__a_active {
    color: var(--blue);
}
.header__menu a::after {
    display: none;
    content: '';
    width: 104px;
    height: 2px;
    background-color: var(--blue-1);
    position: absolute;
    left: 8px;
    bottom: 8px;
}
.header__menu a:hover::after {
    display: block;
}
.header__menu li a.header__a_active::after {
    display: block;
}
.sign-in {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    display: block;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--blue);
    padding: 14px 17px;
    border: 2px solid var(--blue);
    border-radius: 2px;
    background-color: transparent;
}
.slider {
    background-image: url('../img/bg.jpg');
    width: 1280px;
    height: 200px;
    padding: 48px 0;
}
.header__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 24px;
}
.header__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: var(--white);
}
.products {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.breadcrumbs {
    display: flex;
    align-items: baseline;
    padding: 16px 0;
}
.breadcrumbs_house {
    margin-right: 32px;
    display: flex;
    align-items: center;
}
.breadcrumbs__list {
    display: flex;
    list-style: none;
}
.breadcrumbs__list a {
    font-weight: 300;
    letter-spacing: 0.04em;
    color: var(--grey);
    display: block;
    margin-right: 29px;
    padding: 4px 0;
}
.breadcrumbs__list a::before {
    content: '';
    background-image: url('../img/arrow.svg');
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 16px;
    margin-right: 30px;
}
.breadcrumbs__list li:not(:last-child) a {
    color: var(--blue-1);
}
.breadcrumbs__list li:last-child a {
    cursor: text;
}
.product-menu {
    background-color: var(--light-grey);
}
.product-menu__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 36px 0;
    margin: 0 -8px;
}
.product-menu__list li {
    padding: 0 8px;
    width: 33.333%;  
}
.product-menu__list div {    
    background-color: var(--white);
    height: 400px;
}
.footer {
    background-color: var(--grey-1);
    padding: 40px 0 32px;
}
.footer__box {
    display: flex;
    margin: 0 -8px;
}
.footer__block {
    width: 25%;
    padding: 0 8px;
}
.footer__head {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey);
    padding-bottom: 15px;
    margin-bottom: 23px;
    border-bottom: 2px solid var(--grey-2) ;
}
.footer__head:after {
    content: '';
    width: 80px;
    height: 2px;
    background-color: var(--blue-1);
    position: absolute;
    bottom: -2px;
    left: 0;
}
.footer__list {
    list-style: none;
}
.footer__list a {
    display: block;
    text-decoration: none;
    list-style: none;
    color: var(--grey-3);
    letter-spacing: 0.02em;    
}
.footer__list li:not(:last-child) {
    margin-bottom: 16px;
}
.footer__list a:hover {
    color: var(--blue-1);
}
.footer__text {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: var(--grey-3);
    padding-right: 18px;
}
.copyright {
    padding: 16px 0;
    display: flex;
    justify-content: center;
}
.copyright__text {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--grey-3);
}
