.footer {
    background-color: $grey-page;
    margin-top: 17px;
    padding: 50px 0;
    text-align: center;
    &__link {
        color: $main-text-color;
        transition: all .2s ease-in-out;
        &:hover {
            color: $accent;
        }
    }
}