.header {
    width: 100%;
    position: relative;  
    margin-bottom: 17px;  
    &::after {
        content: '';
        width: 100%;
        height: 100%;        
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        background-color: $mask;
        opacity: .92;
    }
    .wrapper {
        padding: $gutter;  
        position: relative;
        min-height: 298px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../img/header-bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__title {
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: $main-text-color;
        margin-bottom: 45px;
        position: relative;
        z-index: 3;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        min-width: 406px;
        gap: $gutter;
        position: relative;
        z-index: 3;
    }
    &__link {
        display: inline-block;
        text-align: center;
        min-width: 130px;
        padding: 7px 14px;
        color: $main-text-color;
        border-radius: 2px;
        &_orange {
            background-color: $accent;
        }      
        &_grey {
            background-color: $grey;
        }
        &:hover,
        &:focus {
            opacity: .9;
        }
        &:active {
            opacity: 0.7;
        }        
    }    
}