.main-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 205px);
    grid-gap: $gutter;
    &__item {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center;        
        color: $main-text-color;
        padding: $gutter;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $mask;
            opacity: .7;
            z-index: 1;
            transition: all .3s ease-in-out;
        }  
        &:nth-child(1) {
            grid-column: span 2;
        }
        &:nth-child(5) {
            grid-column: span 2;
        }
        &:nth-child(6) {
            grid-row: span 2;
        }
        &:hover {   
            color: $accent;
        }
        &:hover::after {               
            opacity: .8;
        }
    }
    &__text {
        transition: all .3s ease-in-out;
        position: relative;
        z-index: 2;
        // color: $main-text-color;
    }
}