* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    margin: 0;
    font-family: 'Raleway', 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    width: 100%;
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 1280px;
    padding: 0 $gutter;
    margin: 0 auto;
}
.visually-hidden {
    position: fixed;
    transform: scale(0);
  }