@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
         url('./fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 500;
    src: url('./fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
         url('./fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --light-blue: #C0C0C0;
    --black: #000;
    --lightskyblue: lightskyblue;
    --purple: purple;
}
body {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1000px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.main {
    margin: 0 auto;   
    background-color: var(--light-blue);     
    padding: 20px;
}
.h1 {
    text-align: center;
    margin-bottom: 20px;       
}
.h2 {
    text-align: center;
    border-top: 1px solid var(--black);
    padding-top: 20px;
    padding-bottom: 10px;
}
.link {
    display: block;
}
.img,
.list,
.link,
.text {
    padding-bottom: 10px;
}
.list {
    list-style: inside;
    padding-bottom: 10px;
}
.img {
    text-align: center;
}
/* ---------------------------------- */

.film {
    background-color: var(--lightskyblue);
    border-radius: 15px;
}
.film__card {
    padding-bottom: 15px;
}
.film__header {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 30px;
}
.film__box {
    display: flex;
    padding: 16px;
}
.film__box:not(:last-child) {
    border-bottom: 1px solid grey;
}
.film__poster {
    max-width: 184px;
    height: auto;
    border-radius: 15px;
}
.film__description {
    font-size: 20px;
    color: var(--purple);
    padding: 20px;
    max-width: 500px;
}
.film__background {
    background-image: url(../img/poster-1.jpg);
    background-size: contain;
    width: 184px;
    height: 267px;
    border-radius: 15px;
}