$main-bg: white;
$main-bg-op-50: rgba(255, 255, 255, 0.5);
$blue-1-op-90: rgba(116, 213, 222, 0.5);
$light-blue: #74D5DE;
$soft-blue: #B5F2E3;
$blue: #3751FF;
$soft-grey: #455880;
$light-grey: rgba(69, 88, 128, 0.2);
$light-purp: #999FE3;
$dark-purp: #1E266D;
$grey-op-50: rgba(69, 88, 128, 0.5);
$grey-1-op-008: rgba(135, 146, 161, 0.08);
$soft-orange: #FED892;
$pink: #F47B9E;
$black: black;