.btn {
    display: inline-block;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    background-color: $white;
    padding: 18px 30px;
    border-radius: 9px;
    cursor: pointer;
    position: relative;
    transition: all 0.25s ease;
    &::after{
        content:'';
        position: absolute;
        z-index: -1;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border-radius: 12px;
        background-image: linear-gradient(45deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        background-size: 200%;
        animation: animateborder 3s linear infinite;
    }
    &:hover {
        color: $white;
        background-color: transparent;
    }
}