.header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    margin-bottom: 66px;
    &__sign-in {
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 23px 35px;
        border: none;
        background: $white;
        margin-right: 10px;
        border-radius: 12px;
        margin-left: auto;
        cursor: pointer;
        transition: all 0.3s ease; 
        position: relative;    
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 13px;
            background-image: linear-gradient(45deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
            z-index: -1;
        }   
        &:hover {            
            color: $white;      
            background: transparent;      
        }
        &:active {
            opacity: 0.5;
        }
    }
}