html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1480px;
  margin: 0 auto;
  padding: 0 15px;
}

@-webkit-keyframes animateborder {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes animateborder {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.header {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 66px;
}

.header__sign-in {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 23px 35px;
  border: none;
  background: #fff;
  margin-right: 10px;
  border-radius: 12px;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.header__sign-in::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13px;
  background-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -1;
}

.header__sign-in:hover {
  color: #fff;
  background: transparent;
}

.header__sign-in:active {
  opacity: 0.5;
}

.logo {
  margin-right: 100px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
}

.nav__link {
  display: block;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1B0A42;
}

.nav__link:hover {
  color: purple;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.btn {
  display: inline-block;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1B0A42;
  background-color: #fff;
  padding: 18px 30px;
  border-radius: 9px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 12px;
  background-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 200%;
  -webkit-animation: animateborder 3s linear infinite;
          animation: animateborder 3s linear infinite;
}

.btn:hover {
  color: #fff;
  background-color: transparent;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 130px;
}

.main > * {
  width: 50%;
}

.main__decription {
  padding: 94px 0 0 120px;
}

.main__title {
  max-width: 495px;
  font-family: 'Ramaraja', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.06;
  letter-spacing: 2%;
  margin-bottom: 10px;
}

.main__text {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #9A9A9A;
  max-width: 538px;
  margin-bottom: 50px;
}

.main__img {
  padding-right: 25px;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */