@media (max-width: 1520px) {
    .main__description {
        margin-right: -40px;
    }
}
@media (max-width: 1290px) {
    .main__description {
        margin-right: 0px;
    }
}
@media (max-width: 1250px) {
    .subscriptions__container::after {
        left: -5px;
        bottom: -25px;
    }
    .subscriptions__body {
        padding: 25px;
    }
    .subscriptions__description li {
        font-size: 15px;
    }
    .subscriptions__description li::before {
        width: 30px;
        height: 30px;
        top: -3px;
    }
}
@media (max-width: 1167px) {
    .main__description {
        font-size: 21px;
        line-height: 32px;
        max-width: 400px;
        padding: 32px 29px 32px 30px;
        max-height: 189px;
    }
    .main__title {
        font-size: 72px;       
    }
    .main__subtitle {
        font-size: 42px;
        max-width: 425px
    }
    .bg__rectangle {
        height: 617px;        
        top: -219px;
        left: 153px;
    }
    .main__description {
        padding: 23px 10px 21px 35px;       
    }    
    .main__text {
        top: 320px;
    }
}
@media (max-width: 1067px) {
    .subscriptions__body {
        padding: 19px;
    }
}
@media (max-width: 1052px) {
    .header__logo svg {
        margin-right: 0;
    }
    .header__logo > span {
        font-size: 40px;
    }
    .header__menu li:not(:last-child) {
        padding-right: 40px;
    }
    .header__menu li:not(:last-child)::after {
        right: 17px;
    }
    .header__menu a {
        font-size: 17px;
    }
    .header__link {
        padding: 5px 37px;
    }
}
@media (max-width: 1024px) {
    .benefits__description {
        font-size: 16px;
    }
    .delivering__text {
        max-width: 821px;
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .header__nav,
    .header__logo svg {
        display: none;
    }
    .header__burger {
        display: block;
    }
    .header__link {
        margin-left: auto;    
        font-size: 18px;
        border-radius: 7px;    
    }
    .header__body {
        padding: 16px 0;
    }
    .header__logo > span {
        font-size: 33px;
    }
    .header__link {
        font-size: 20px;
        padding: 7px 33px;
    } 
    .main {
        padding-top: 125px;
    }
    .main__container {
        padding-top: 0;
    }
    .main::after,
    .main::before,
    .main__bg_svg svg {
        display: block;
    }
    .main__title {
        font-size: 57px;
    }
    .main__subtitle {
        font-size: 41px;
        max-width: 405px;
    }
    .bg__rectangle {
        display: none;
    }  
    .main__text,
    .main__description {
        display: none;
    }
    .subscriptions__monthly {
        display: none;
    }
    .subscriptions__yearly {
        display: block;
    }
    .main__arrow {
        display: flex;
    }
    .main__link {
        font-size: 23px;
        line-height: 1.71;
        letter-spacing: -0.2px;
        padding: 10px 19px;
        margin: 30px auto 0;
        width: 200px;
        text-align: center;
    }
    .delivering {
        margin-top: 0;
        padding-bottom: 40px;
    }
    .benefits li {
        width: 50%;
    }
    .benefits__description {
        max-width: 340px;
        font-size: 18px;
    }    
    .delivering__title span {
        display: block;
    }
    .delivering__text {
        max-width: 705px;
        font-size: 18px;
    }
    .subscriptions__body {
        padding: 10px;
    }
    .subscriptions__description li {
        font-weight: 500;
        font-size: 17px;
        line-height: 1.71;
        letter-spacing: 0.2px;
    }
    .pricing {
        margin-bottom: 16px;
    }
    .pricing__title {
        font-size: 48px;
    }
    .select {
        font-size: 28px;
    }
    .pricing__title,
    .select {
        text-align: left;
    }
    .subscriptions__container {
        margin: 0 auto;
        box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.12), 0px 16px 24px rgba(38, 50, 56, 0.08);
    }  
    .subscriptions__price_big {
        font-size: 36px;
    }
    .subscriptions > li {
        width: 100%;
    }
    .subscriptions__btn {
        padding: 10px;
        color: var(--white);
        background-color: var(--purple);
    }
    .subscriptions__description li::before {
        width: 28px;
        height: 28px;
        left: 0;
        top: -2px;
    }    
    .subscriptions__body {
        padding: 32px;
    }
    .subscriptions__body.active {
        background-color: var(--purple);
    }
    .subscriptions__body.active .subscriptions__title,
    .subscriptions__body.active .subscriptions__sticker {
        color: var(--light-green);
    }
    .subscriptions__body.active .subscriptions__sticker{        
        border-color: var(--light-green);
    }
    .subscriptions__body.active .subscriptions__price_big,
    .subscriptions__body.active .subscriptions__price_small {
        color: var(--white);
        text-shadow: 0px 4px 0px #000;
    }
    .subscriptions__body.active li {
        color: var(--white);
    }
    .subscriptions__body.active li::before {
        background-color: var(--black);
        background-image: url(../img/icons/stroke-white.svg);
    }
    .subscriptions__body.active .subscriptions__btn {
        background-color: var(--white);
        color: var(--black);
    }
    .footer {
        background-image: url(../img/bg/footer-mob-bg.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        position: relative;
    }
    .footer__bg_dots {
        display: block;
        position: absolute;
        bottom: 0;
        left: 51px;
    }
    .footer__titles,
    .follow-us__email,
    .footer__container {
        display: none;
    }
    .foot-mob {
        display: flex;
    }
    .socials__list li:last-child {
        display: block;
    }
    .footer__body {
        padding: 40px 0;
    }
    .follow-us {
        margin-bottom: 0;
    }
    .socials {
        width: 100%;
    }
    .socials__list {
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 440px;
    }
    .socials__list li:not(:last-child) {
        margin-right: 0;
    }
    .socials__list a.active {
        background-color: transparent;
    }
    .socials__list path {
        stroke: var(--black);
    }
}
@media (max-width: 767px) {   
    .header__logo span {
        font-size: 24px;
    }
    .header__burger {
        margin-right: 0;
    }
    .delivering__title {        
        margin-bottom: 8px;
        max-width: 450px;
    }
    .delivering__title span {
        color: var(--purple);
    }
    .delivering__text {
        max-width: 680px;
        font-size: 18px;
    }
    .delivering__text span {
        display: none;
    }
    li.benefits__desktop {
        display: none;
    }
    li.benefits__mob {
        display: flex;
        flex-direction: column;
    }
    .benefits__icon {
        border-radius: 15px;
    }
    .benefits__icon_changeable {
        background-color: var(--orange);
    }
    .pricing__title span {
        display: none;
    }
    .pricing__title {
        font-size: 40px;
        margin-bottom: 12px;
    }
    .pricing__title::first-letter {
        text-transform: uppercase;
    }
}
@media (max-width: 666px) {
    .main {
        padding-top: 120px;
    }
    .main::before {
        top: 0;
    }
    .main__title {
        font-size: 48px;
        line-height: 1.17;
    }
    .main__title_combine {
        display: block;
        font-size: 64px;
    }
    .main__title_cool {
        text-transform: capitalize;
    }
    .main__title_cool::after {
        content: '';
        width: 120px;
        left: -12px;
    }
    .main__subtitle {
        font-size: 24px;
        max-width: 300px;
    }
    .main__arrow {
        bottom: 42px;
    }
    .main__link {
        font-size: 14px;
        margin-top: 0;
        max-width: 130px;
    }
}
@media (max-width: 575px) {
    .delivering__title {
        font-size: 24px;
        letter-spacing: -0.25px;
    }
     .benefits__icon {
        width: 52px;
        height: 52px;
    }
    .benefits__icon svg {
        width: 42px;
        height: auto;
    }
    .benefits__title {
        font-size: 18px;
        letter-spacing: 0.1875px;  
        margin-bottom: 12px;
    }
    .benefits__description {
        font-size: 13px;
        max-width: 230px;
    }
    .benefits__link {
        max-width: 109px;
        padding: 6px;
        font-size: 13px;
        letter-spacing: 0.15px;
        border-radius: 12px;
    }
    .foot-mob__made {
        max-width: 165px;
    }
} 
@media (max-width: 480px) {
    .pricing__title {
        font-size: 32px;
        margin-bottom: 8px;
    }
    .select {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: -0.25px;
    }
    .subscriptions__title {
        color: var(--black);
        margin-bottom: 3px;
    }
    .subscriptions__box {        
        margin-bottom: 0;
    }    
    .subscriptions__price {
        padding: 4px 0 0;
    }
    .subscriptions__price_big {
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 0.25px;
        color: var(--purple);
        text-shadow: 0 4px 0 var(--white);
    }
    .subscriptions__price_small {
        color: var(--purple);
        padding-bottom: 7px;
    }
    .subscriptions__description li {
        font-size: 14px;
        padding-left: 32px;
        margin-bottom: 24px;
    }
    .subscriptions__description li::before {
        width: 24px;
        height: 24px;
        top: 0;
        background-size: 7px;
    }
    .subscriptions__btn {
        padding: 7px 15px;
    }
    .select__monthly.active,
    .select__yearly.active {
        color: var(--black);
    }
}
@media (max-width: 340px) {
    .benefits__title {
        font-size: 17px;
    }
}
