@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    src:          
         url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'), 
         url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff');        
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:          
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
}
:root {
    --white: #fff;
    --white-1: #F5F5F7;
    --white-op-05: rgba(255, 255, 255, 0.5);
    --blue: #5C97B1;
    --blue-1: #86B6CC;
    --grey: rgba(64, 59, 59, 0.5);
    --grey-1: #BFBFBF;
    --grey-2: #333333;
    --grey-3: #CACACA;
    --grey-4: #4B6571;
    --light-grey: #E5E5E5;
    --grey-dark: #2B2B2B;    
    --grey-main: rgba(0, 0, 0, 0.8);    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Red Hat Text", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    width: 1440px;
    /* max-width: 1440px;
    min-width: 480px; */
}
a {
    text-decoration: none;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    background-color: var(--grey-dark);
}
.header__wrapper {
    width: 78.5%;
    margin: 0 auto;
    padding: 25px 3px 24px 0;
    display: flex;   
    flex-wrap: wrap;
    align-items: center;
}
.header__logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 44px;
    height: 50px;
    margin: -12px 86px 0 0;
}
.header__logo:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.2s;
}
.header__home {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: var(--white-1);
    margin-right: 62px;    
}
.header__home:hover {    
    color: var(--white);
    transition-duration: 0.2s;
    text-shadow: 0 0 3px var(--white);
}
.header__home:active {
    color: var(--white-op-05);
}
.menu {
    list-style: none;
    display: flex;
    margin-top: -1px;
}
.menu li {
    margin-right: 65px;
}
.menu a {    
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.07em;
    color: var(--grey-1);
}
.menu a:hover {
    color: var(--white);
    transition-duration: 0.2s;
}
.menu a:active {
    color: var(--white-op-05);
}
.sign-in {
    font-family: "Red Hat Text", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -0.07em;
    color: var(--grey-1);
    padding: 11px 66px;
    margin-left: auto;
    background-color: var(--grey-dark);
    border-radius: 46px;
    border: 1px solid var(--white-1);
    cursor: pointer;    
}
.sign-in:hover {
    color: var(--white);
    background-color: var(--grey);    
    box-shadow: 0 0 3px 0 var(--white);
    transition-duration: 0.2s;
}
.sign-in:active {
    opacity: 0.3;
}
.product {
    background-color: var(--grey-main);
    padding: 76px 30px 39px;
}
.product__name {
    font-weight: 400;
    font-size: 96px;
    line-height: 127px;
    letter-spacing: -0.02em;
    color: var(--light-grey);
    padding: 1px 0 14px 459px;
}
.product__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product__img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.product__description {
    width: 50%;
    padding-left: 158px;
    list-style: none;
}
.product__description li {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: var(--blue);
}
.product__description li:not(:last-child) {
    padding-bottom: 31px;
}
.footer {
    padding: 0 83px;
    background-color: var(--grey-main);
}
.footer__box {
    width: 100%;
    padding:  40px 0 62px;
    border-top: 1px solid var(--light-grey);    
}
.footer__info {
    width: 731px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__head {
    font-family: "Red Hat Text", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: var(--grey-3);
    margin-bottom: 41px;
    margin-top: 2px
}
.footer__list {
    list-style: none;
}
.footer__list li {
    margin-bottom: 10px;
}
.footer__list a {
    font-size: 24px;
    line-height: 32px;    
    letter-spacing: -0.02em;
    color: var(--grey-4);
}
.footer__list a:hover {
    color: var(--blue-1);
    transition-duration: 0.3s;
}
















@media (max-width: 1366px) {
    .sign-in {
        padding: 9px 40px;
        font-size: 27px;
    }
    .menu li {
        margin-right: 60px;
    }
    
    .header__home,
    .header__nav a {
        font-size: 40px;
        line-height: 45px;
    }
}
@media (max-width: 1320px) {
    
    .product__name {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    
}
@media (max-width: 1200px) {
    
    .menu li {
        margin-right: 40px;
    }
    .header__logo {
        margin-right: 30px;
    }
    
    .header__home,
    .header__nav a {
        font-size: 40px;
        line-height: 42px;
    }
    .sign-in {
        font-size: 27px;
        line-height: 30px;
    }
}
@media (max-width: 1070px) {
    .header__logo {
        margin-right: 50px;
    }
    .header__home {
        margin-right: 40px;
    }
    .menu li {
        margin-right: 30px;
    }
}
@media (max-width: 991px) {
    
    .header__home {
        margin-right: auto;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.02em;
    }
    .menu li:not(:last-child) {
        margin-right: 25px;
    }
    .menu a {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.07em;
        color: var(--grey-1);
    }
    .sign-in {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.07em;
        padding: 5px 36px;
    }
    .product {
        padding-left: 50px;
        padding-right: 50px;
    }
    .product__description {
        padding-left: 108px;
    }
    .footer {
        padding: 0 50px;
    }
    .footer__info {
        width: 660px;
    }
}
@media (max-width: 910px) {
    .header__logo {
        margin-right: 40px;
    }
    .header__home {
        font-size: 30px;
    }
    .menu a {
        font-size: 30px;
    }
    .sign-in {
        font-size: 20px;
    }   
    
@media (max-width: 780px) {
    .footer__info {
        width: 600px;
    }
    .header__home {
        margin-right: 25px;
}
}
@media (max-width: 767px) {    
    .header__logo {
        margin-right: 23px;
    }
    .header__home {
        font-size: 25px;
        line-height: 30px;
    }
    .menu a {
        font-size: 25px;
        line-height: 30px;
    }
    .sign-in {
        font-size: 20px;
        line-height: 25px;
        padding: 5px 20px;
    }    
    .product__description {
        padding-left: 60px;
    }
    .product__description li {
        font-size: 36px;
        line-height: 48px;
    }
    .footer__list a {
        font-size: 20px;
        line-height: 25px;  
}
@media (max-width: 700px) {
    .footer__info {
        width: 440px;
    }
    .footer__head {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    .footer__list li {
        margin-bottom: 8px;
    }
    .footer__list a {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 668px) {
    .product__description {
        padding-left: 62px;
    }
    .product__description li {
    font-size: 39px;
    }
}
@media (max-width: 645px) {
    .header__logo {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* .header__wrapper {
        flex-wrap: wrap;
    } */
    .header__nav {
        width: 100%;
        order: 1;
    }
    .menu {
        justify-content: center;
        margin:20px 0 25px;
    }
    .menu li:last-child {
        margin-right: 0;
    }
    .header__home,
    .menu a {
        font-size: 36px;
        line-height: 41px;
    }
    .header__home {
        margin-left: auto;
    }
    .sign-in {
        font-size: 25px;
        line-height: 30px;
        padding: 5px 20px;
        margin-left: 30px;
        margin-right: auto;
    }
}
@media (max-width: 575px) {
    .product__name {
        font-size: 60px;
    }
    .product {
        padding: 40px 30px 40px;
    }
    .product__name {
        font-size: 60px;
        line-height: 70px;
        padding-bottom: 0;
    }
    .product__img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -52px;
    }
    .product__description {
        width: 100%;
        display: block;
        padding-left: 100px;
        margin-top: -32px;
    }
    .product__description li:not(:last-child) {
        margin-bottom: 15px;
    }
    .product__description li:last-child {
        margin-bottom: 25px;
    }
    .footer__info {
        width: 440px;
    }
    .footer__head {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    .footer__list li {
        margin-bottom: 8px;
    }
    .footer__list a {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 480px) {
    .footer {
        padding: 0 50px;
    }
    .footer__info {
        width: 377px;
    }
    .footer__head {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 17px;
    }
    .footer__list a {
        font-size: 15px;
        line-height: 17px;
    }

}